<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark" id="html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Test management</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* TODO: remove? <link rel="stylesheet" href="~/Projekt_2.styles.css" asp-append-version="true"/> *@
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container-fluid" style="align-items: baseline;">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Test management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Index">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Question" asp-action="Index">Questions</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span id="change"></span>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Test management - Michał Żuk
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // https://www.30secondsofcode.org/js/s/prefers-color-scheme

        const prefersDarkColorScheme = () =>
            window &&
            window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches;

        if (prefersDarkColorScheme()) {
            document.getElementById("change").textContent = '☀️';
        }
        else {
            document.getElementById("change").textContent = '🌙';
        }

        const button = document.getElementById("change");
        button.addEventListener("click", function () {
            const html = document.getElementById("html");
            if (html.getAttribute('data-bs-theme') === 'light') {
                html.setAttribute('data-bs-theme', 'dark');
                button.textContent = '☀️';
            } else {
                html.setAttribute('data-bs-theme', 'light');
                button.textContent = '🌙';
            }
        })
    })
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>