@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is page where you can see and manage your tests.</p>
    <p>Wants to see you projects? click <a asp-area="" asp-controller="Project" asp-action="Index">here</a> on in top menu</p>
</div>